// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quizzes {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 10px;
  }

  thead {
    text-align: left;
    background: #00308F;
    color: #FFF;
  }

  thead th {
    padding: 10px;
  }

  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #000;
  }

  /* An entry in the store catalog */
  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;
    min-height: 100px;
    img {
      width: 80px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }
    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }
    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;
      form, div {
        display: inline;
      }
    }

    .answer {
      display: none;
    }
  }

  .quiz_line_odd {
    background: #FEFEFA;
  }
  .quiz_line_even {
    background: #FAEBD7;
  }
}
